<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" id="toggle-button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ site.baseurl }}/" id="logo">Drew Silverstein
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav">
                    <li><a href="#music">Music</a></li>
                    <li><a href="#credits">Credits</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
