<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" id="toggle-button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ site.baseurl }}/" id="logo">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav">
                    <li><a href="{{ site.baseurl }}/">About Drew</a><span id="about" class="menu-span"></span></li>
                    <li><a href="{{ site.baseurl }}/">Music</a><span id="music" class="menu-span"></span></li>
                    <li><a href="{{ site.baseurl }}/">Credits</a><span id="credits" class="menu-span"></span></li>
                    <li><a href="{{ site.baseurl }}/">Contact</a><span id="contact" class="menu-span"></span></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
