html, body {
    min-height: 100%;
    font: $base-font;
}

body {
    position: relative;
}

main {
    height: 100%;
}

h1, h2, h4, h5 {
    text-align: center;
}

h1 {
    font-size: 100px;
    font-weight: 400;
    margin: 0;
    padding-top: 0.67em;
    color: #444;

    @media(max-width: 480px) {
        font-size: 60px;
    }
}

h2 {
    color: #777;
    @media(max-width: 480px) {
        font-size: 25px;
    }
}

section {
    min-height: calc(100vh - 50px);
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    margin-bottom: -20px;
}

iframe {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 20px;
}

#home {
    min-height: calc(100vh - 88px);

    #about-drew {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        padding-top: 40px;
        font-size: 18px;

        @media(max-width: 480px) {
            font-size: initial;
        }
    }
}

#contact {
    min-height: calc(100vh - 115px);

    #contact-drew {
        font-size: 18px;
        text-align: center;
        padding-top: 50px;
    }
}

#credits {
    ul {
        padding: 0;
        max-width: 500px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    li {
        display: inline-block;
        list-style-type: none;
        padding: 10px;
        text-align: center;
        width: 150px;
        vertical-align: top;
    }

    img {
        height: 148px;
        width: 100px;
    }
}
