// Base Font
$base-font: normal 14px Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Header
$header-height: 88px;
$header-height-sm: 50px;

// Footer
$footer-height: 65px;
$footer-color-bg: #808080;
$footer-color-fg: #fff;
